#loading{
    float: right; display: none;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.labelVersao{
    display: inline!important;
    color:silver;
    float: right !important;
    
    border-radius: 0.25em;
    display: inline;
    font-size: 70%;
    font-weight: bold;
    line-height: 1;
    padding: 0em 0em 0em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    
}
